body{
    background-color:#42c8f5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:auto;
    display:flex;
    justify-content:center;
}

div{
    background-color:#fff;
    border-radius:5px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    align-items:center;
    padding:40px;
    margin-top:40px;
    margin-bottom:10px;
    max-width:250px;
    flex-direction:column;
    display:flex;

}

form{
    text-align:center;
    font-size:15px;
    margin-top:10px;

}

h2{
    text-align:center;
    color:#1d3557;
}

.text{
    font-size:15px;
    text-align:center;
    
}

.longinput{
    padding:10px,30px;
    width:250px;
    height:30px;
    border-radius:4px;
    box-sizing:border-box;
    margin:3px,2px;
}


button{
    background-color:#fb8500;
    cursor:pointer;
    border:none;
    text-align:center;
}
 button:hover{
    background-color:#ffb703;
 }

 /*small screens*/
@media(max-width:600px){
    div{
        margin:20px;
        padding:10px;
        width:90%;

    }
}

/*for bigger screens*/
@media(min-width:1204px){
    div{
        width:400px;
    }
}

.output{
    padding:10px;
    width:250px;
    border-radius:4px;
    background-color:rgba(51, 51, 51,0.12);
    font-size:18px;
    height:12px;
    margin-top:20px;
    color:#1d3557
}

.longinput.output{
    margin:10px;
    height:auto;
}

