body{
    background-color:#42c8f5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:auto;
}

div{
    background-color:#fff;
    border-radius:5px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    align-items:center;
    padding:45px;
    margin:460px;
    margin-top:100px;
    margin-bottom:50px;

}

form{
    text-align:center;
    font-sixe:15px;
    margin:10px;
}

h2{
    text-align:center;
    color:#1d3557;
}

.text{
    font-size:15px;
    
}

.longinput{
    padding:10px,30px;
    width:250px;
    height:30px;
    border-radius:4px;
    box-sizing:border-box;
    margin:3px,2px;
}


button{
    background-color:#ffb703;
    cursor:pointer;
    border:none;
    text-align:center;
}
